name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install cargo-hack
      run: cargo install cargo-hack
    - name: Build
      run: cargo hack build --manifest-path cold-string/Cargo.toml --verbose --release --feature-powerset --version-range 1.60..
    - name: Check
      run: cargo hack check --manifest-path cold-string/Cargo.toml --verbose --release --feature-powerset --version-range 1.60..
    - name: Test No Exposed Provenance
      run: cargo +1.74 hack test --manifest-path cold-string/Cargo.toml --verbose --release --feature-powerset
    - name: Tests
      run: cargo hack test --manifest-path cold-string/Cargo.toml --verbose --release --feature-powerset
    - name: Install nightly + Miri
      run: |
          rustup toolchain install nightly
          rustup component add miri --toolchain nightly
    - name: Run Miri
      run: |
          cargo +nightly miri test --manifest-path cold-string/Cargo.toml --test property
    - name: Run Miri Unknown
      run: |
          cargo +nightly miri test --manifest-path cold-string/Cargo.toml --test property --target mips-unknown-linux-gnu
